<form (ngSubmit)="onSubmit()"> {{user.username}}, {{user.password}}, {{user.email}}
  <div class="form-group">
    <label for="username">Username</label> <p *ngIf = "usernameExist">Username already exists.</p>
    <input type="text" class="form-control" id="username" placeholder="Username" required [(ngModel)]="user.username" name="username" (blur)="checkUsername()">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" required
           [(ngModel)]="user.password" name="password">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label> <p *ngIf = "emailExist">Email already exists.</p>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required
           [(ngModel)]="user.email" name="email" (blur)="checkEmail()">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
